Package: chc
Version: 0.2
Section: electronics
Priority: extra
Architecture: i386
Installed-Size: 4.8 MB
Maintainer: Pozsar Zsolt <pozsarzs@gmail.com>
Depends: libc6, libglib2.0-0, libgtk2.0-0
Description: EI core choking coil sizing application.
 Licenc: GPL

