[Desktop Entry]
Encoding=UTF-8
Name=Choking coil sizing application
Name[hu]=Fojtótekercs méretező
Exec=chc
Icon=chc.xpm
Type=Application
Categories=Application;Electronics;
Terminal=false
StartupNotify=true
